    #bigbox{
width:500px;
height:100px;
margin: 0;
background-color: green;
}
.box1{
width:150px;
height: 100px;
background-color: yellow;
float:left;
}
.box2{
width: 350px;
height:100px;
background-color:red;
float: left;